<?xml version="1.0"?>
<connectionStrings>
  <!--<add name="NorthwindContext" connectionString="Data Source=I-ALI; Initial Catalog=Northwind; Integrated Security=True; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
  <!--<add name="NorthwindContext" connectionString="Data Source=IALI-NOTEBOOK\SQLEXPRESS; Initial Catalog=Northwind; Integrated Security=True; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
  <add name="ProjectXContext" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\iftikhar_ali\Documents\_prj\ProjectX\trunk\ProjectX.Web2\App_Data\DefaultConnection.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>